body {
    background-color: rgb(255, 224, 230);
    margin: 40px 140px 40px 140px;
    
}

.center-block {
    width: 500px;
    align-self: center;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2{
    font-family: Monaco, "Lucida Console", monospace;
}

h1{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 30px;
}

h3,
h4,
p,
ul,
ol {
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

p {
    font-size: 18px;
}

ul,
ol {
    font-size: 16px;
    padding-left: 1.2em;
}

